body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
  }
  /*navbar*/
  .logo{
    float: left;
  }
  .nav {
    overflow: hidden;
    background-color:#cf8787;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: end;
    position: relative;
    z-index: 1000
  }
  .nav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
   
  }
  .nav a:hover {
    background-color: white;
    color: black;
  }
  .nav a.active {
    background-color:white ;
    color: black;
  }
.contact{
   

    padding: 50px;
    display: flex;
}
.left{
    flex: 1;
    display: flex;
    
    margin-top: 100px;
    flex-direction: column;
}
.right{
    flex: 1px;
}
.cn{
    margin-bottom:10px;
    text-decoration: none;
    color: black;
    font-size: larger;
}
input{
    width: 50%;
    height: 50px;
    border-radius: 15px;
    
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}
.remarque{
    margin: 10px 0px;
}
textarea{
    border-radius: 15px;
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    height: 90px;

}
button{
    border: none;
    padding: 15px;
    background-color: rgb(149 29 10);
    color: white;
    font-weight: 500;
    cursor: pointer;
}
button:hover{
    transform: scale(1.2); 
}
